@import '../../../assets/sass/variables';

.box-header {
  text-transform: uppercase;
  backface-visibility: hidden;

  .text-box {

    left: 50%;
    left: 22vw;
    top: 25vh;
    position: absolute;
  }

  .header-main {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;

    animation: moveInLeft 1s ease-in-out;
  }


  .tile-box {
    width: 1194px;
    position: absolute;
    top: 35vh;
    left: 23vw;
    width: 60vw;
    height: 85vh;
    background: none;

    img {
      width: 332.8px;
      height: 265px;
      opacity: 0.4;     
    }
  

    .row.dj {
      margin-right: 9rem;   



      .icon {
        height: 4rem;
        position: absolute;
        top: 25rem;
        left: 7rem;
       
      }
 


      .text-box-sub {
        width: 45rem;
        text-align: center;

        .header-secondary {
          display: block;
          display: block;
          margin-top: 10rem;
          margin-bottom: 2rem;
        }

        .paragraph {

          font-weight: 400;       
          line-height: 0;
        }
      }
    }
    .center{
         
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      color: $white-color;
      text-align: center;

    
  }
  a {
  
    color: $white-color;
  }
    .container {

      position: relative;

      &:hover{         
        img{
          opacity: 1;
        }      
        cursor: pointer;
      }
    }

    .col-2-of-3{
      background-image: linear-gradient(to right top,
      rgba($zulu-yellow-color, 0.8),
      rgba($zulu-yellow-color, 0.8)), url(../../../assets/images/bg1.jpg);
      background-size: 81rem;
      background-position: top;
      background-repeat: no-repeat;
      height: 28vh;
    }
    .center{
       
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
 
  }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem;
    }

    .row {
      max-width: 116rem;
      margin: 0 auto;
      padding: 0;
    }

     
  }

  
}
