 
  <header class="box-header">
    <div class="text-box">
      <h1>
        <span class="header-main">
          South African Dance Music Awards
        </span>
      </h1>
    </div>
    <div class="tile-box">
      <div class="col-1-of-3">
        <div class="card">
          <img src="assets/images/home/card-1.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-2.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-3.png" alt="nominations card">
        </div>
      </div>
      <div class="col-2-of-3 dj">
        <a routerLink="nominations" class="">
          <img src="assets/images/playliest.svg" class="icon" alt="icon playlist">
          <div class="text-box-sub">
            <h1>
              <span class="header-secondary">
                LIVE AT THE PLAYHOUSE THEATER
              </span>
              <span class="paragraph">
                “SADMA- where rhythm is celebrated”
              </span>
            </h1>
          </div>
        </a>
        <div class="card">
          <img src="assets/images/home/card-4.png" alt="nominations card">
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <img src="assets/images/home/card-5.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-6.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-7.png" alt="nominations card">
        </div>
      </div>
  
    </div>
  
  </header>
   