<section class="box-header">
  <div class="text-box">
    <h1 class="header-main">Contact Us</h1>
    <p class="header-paragraph">
      Contact us for more info or to join the team. We'll get back to you
    </p>
  </div>
</section>
<section class="contact-form">
  <div class="form-control">
    <form [formGroup]="rForm" (ngSubmit)="send(rForm.value)">
      <div class="col-2-of-3">
        <div class="">
          <div class="col-1-of-2">
            <fieldset>
              <label for="firstName">First name</label>
              <input type="text" id="firstName" formControlName="firstName">
              <div class="alert" *ngIf="!rForm.controls['firstName'].valid && rForm.controls['firstName'].touched">
                First name is requried
              </div>
            </fieldset>
            <fieldset>
              <label for="sirname">Surname</label>
              <input type="text" id="surname" formControlName="surname">
              <div class="alert" *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">
                Surname is requried
              </div>
            </fieldset>
          </div>
          <div class="col-1-of-2">
            <fieldset>
              <label for="cell">Cell</label>
              <input type="text" id="cell" formControlName="cell">
              <div class="alert" *ngIf="!rForm.controls['cell'].valid && rForm.controls['cell'].touched">
                Cell number is requried
              </div>
            </fieldset>
            <fieldset>
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email">
              <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                Email is requried
              </div>
            </fieldset>
          </div>
          <div class="col-1-of-2 check-box">
            <fieldset>
              <h1>I want to nominate</h1>
            </fieldset>
            <fieldset>
              <input type="checkbox" id="check" (change)="toggleVisibility($event)" />
              <label for="check" style="--d: 4rem;">
                <svg viewBox="0,0,50,50">
                  <path d="M5 30 L 20 45 L 45 5"></path>
                </svg>
              </label>
            </fieldset>
          </div>
          <div class="" *ngIf="!marked else nominate">
            <fieldset>
              <label for="message">Message</label>
              <textarea name="message" formControlName="message" id="message" cols="30" rows="10"></textarea>
              <div class="alert" *ngIf="!rForm.controls['message'].valid">
                Your message must be at least 15 characters
              </div>
            </fieldset>
          </div>
          <ng-template #nominate>
            <div class="col-1-of-2">
              <fieldset>
                <select class='select-option' required formControlName='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                  <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                </select>
              </fieldset>
              <fieldset>
                <input type="text" id="nominee" formControlName="nominee">
                <div class="alert" *ngIf="!rForm.controls['nominee'].valid && rForm.controls['nominee'].touched">
                  Nominee name is requried
                </div>
              </fieldset>
            </div>
          </ng-template>

          <div class="col-1-of-2">
            <fieldset>
              <h1 class="success" *ngIf="showSuccess">
                <span class="top">
                  Success Thank you for your feedback!
                </span>
                <span class="bottom">
                  SMS voting lines will be Opened Soon T&Cs apply.
                </span>
              </h1>
            </fieldset>
            <fieldset>
              <button type="submit">Submit</button>
            </fieldset>
          </div>
        </div>
        <div class="">
           <h1>
              <span class="heading-main">
                  CONTACT US
                </span>            
           </h1>
           <h1 class="details">          
                  <div class="col-1-of-2">
                    <span class="paragraph">
                        Address :
                    </span>
                    <span class="paragraph">
                        Durban, South Africa 
                    </span>
                  </div>
                  <div class="col-1-of-2">
                    <span class="paragraph">
                        Email :
                    </span>
                    <span class="paragraph">
                        hello@sadma2012.co.za
                    </span>
                  </div>
                  <div class="col-1-of-2">
                    <span class="paragraph">
                        WhatsApp :
                    </span>
                    <span class="paragraph">
                        0813506956
                    </span>
                  </div>
              
           </h1>
        </div>
      </div>
    </form>
  </div>
</section>
