@import "../../assets/sass/variables";

.box-header {
  height: 40vh;

  .text-box {
    text-align: center;
    left: 35vw;
    top: 20vh;
    position: absolute;
  }

  .header-main {
    display: block;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    animation: moveInLeft 1s ease-in-out;
    margin-bottom: 2rem;
  }

  .header-paragraph {
    font-size: 1.5rem;
    margin: 0 auto;
  }
}

.contact-form {

  height: 90vh;
  padding: 11rem;
  padding-top: 0rem;

  .form-control {
    padding: 2%;
    background-color: lighten($color: $zulu-yellow-color, $amount: 0.6);
    height: 90vh;
  }

  form {

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      font-size: 2rem;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #e8eeef;
      color: $black-color;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      margin-bottom: 15px;
      border-radius: 0px;
    }




    fieldset {
      margin-bottom: 1rem;
      border: none;
    }

    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    label.light {
      font-weight: 300;
      display: inline;
    }

    .alert {
      color: $red;
      padding-bottom: 0.5rem;
      font-size: 1.5rem;
    }



    button {
      padding: 19px 39px 18px 39px;
      color: #FFF;
      background-color: #252525;
      font-size: 22px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 10vw;
      border: 1px solid #252525;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
      margin-bottom: 10px;
      cursor: pointer;
      text-transform: uppercase;
      position: absolute;
      right: 40vw;
    }

    .details {
      margin-top: 2rem;
      font-weight: 500;

      .col-1-of-2 {
        grid-template-columns: 40% auto;
      }

    }

    .check-box {
      h1 {
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      input#check {
        position: absolute;
        opacity: 0;

        &:checked+label svg path {
          stroke-dashoffset: 0;
        }

        &:focus+label {
          transform: scale(1.03);
        }
      }

      #check+label {
        display: block;
        width: var(--d);
        height: var(--d);
        cursor: pointer;
        transition: all .2s ease;
        background: #FBFCFC;

        &:active {
          transform: scale(1.05);
        }

        svg {
          pointer-events: none;

          path {
            fill: none;
            stroke: #333;
            stroke-width: 4px;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 100;
            stroke-dashoffset: 101;
            transition: all 350ms cubic-bezier(1, 0, .37, .91);
          }
        }
      }
    }

    .success {
      color: green;

      .top {
        display: block;
        font-size: 2rem;
      }

      .bottom {
        font-size: 1rem;
        font-weight: 400;
      }
    }

  }
}


//Media queries
@media only screen and (max-width: $bp-large-s) {

  .box-header {
    height: 15vh;

    .text-box {
      top: 10vh;
    }
  }

  .contact-form {
    height: 75vh;

    .form-control {
      height: 45vh;
    }

    .details {
      font-size: 1.2rem;
    }

    form {
      button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #252525;
        font-size: 10px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 10vw;
        border: 1px solid #252525;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
        margin-bottom: 10px;
        cursor: pointer;
        text-transform: uppercase;
        position: absolute;
        right: 40vw;
      }
    }
  }
}


//media queries
@media only screen and (max-width: $bp-small-s) {

  .box-header {
    .text-box {
      left: 27vw;

      .header-main {
        font-size: 6rem;
      }

    }
  }

  .contact-form {
    padding: 2rem;
    height: 100vh;

    .col-1-of-2 {
      grid-template-columns: 100%;
    }

    .col-2-of-3 {
      grid-template-columns: 100%;
    }

    .form-control {
      height: 98vh;
    }

    form {
      button {
        padding: 19px 70px 18px 39px;
        right: 5vw;

      }

      .details {
        margin-top: 10rem;
      }
    }

  }
}
