<section class="box-header">
  <div class="text-box">
    <h1 class="header-main">Nominations</h1>
    <p class="header-paragraph">
      “SADMA- where rhythm is celebrated”
    </p>
  </div>
</section>
<section class="nominations-list-section">
  <div class="row">
    <div class="text-box">
      <h1 class="header-main">MOST PLAYED</h1>
    </div>
    <div class="nominees">
        <div class="col-1-of-4">
            <img src="../../assets/images/dj1.jpg" alt="Dj 1">
          </div>
          <div class="col-1-of-4">
              <img src="../../assets/images/dj1.jpg" alt="Dj 1">
          </div>
          <div class="col-1-of-4">
              <img src="../../assets/images/dj1.jpg" alt="Dj 1">
          </div>
          <div class="col-1-of-4">
              <img src="../../assets/images/dj1.jpg" alt="Dj 1">
          </div>
    </div>    
  </div>
  <div class="row">
      <div class="text-box">
        <h1 class="header-main">BEST MALE</h1>
      </div>
      <div class="nominees">
          <div class="col-1-of-4">
              <img src="../../assets/images/dj2.jpg" alt="Dj 1">
            </div>
            <div class="col-1-of-4">
                <img src="../../assets/images/dj2.jpg" alt="Dj 1">
            </div>
            <div class="col-1-of-4">
                <img src="../../assets/images/dj2.jpg" alt="Dj 1">
            </div>
            <div class="col-1-of-4">
                <img src="../../assets/images/dj2.jpg" alt="Dj 1">
            </div>
      </div>    
    </div>
    <div class="row">
        <div class="text-box">
          <h1 class="header-main">BEST FEMALE</h1>
        </div>
        <div class="nominees">
            <div class="col-1-of-4">
                <img src="../../assets/images/dj4.jpg" alt="Dj 1">
              </div>
              <div class="col-1-of-4">
                  <img src="../../assets/images/dj4.jpg" alt="Dj 1">
              </div>
              <div class="col-1-of-4">
                  <img src="../../assets/images/dj4.jpg" alt="Dj 1">
              </div>
              <div class="col-1-of-4">
                  <img src="../../assets/images/dj4.jpg" alt="Dj 1">
              </div>
        </div>    
      </div>
      <div class="row">
          <div class="text-box">
            <h1 class="header-main">BEST PRODUCER</h1>
          </div>
          <div class="nominees">
              <div class="col-1-of-4">
                  <img src="../../assets/images/dj3.jpg" alt="Dj 1">
                </div>
                <div class="col-1-of-4">
                    <img src="../../assets/images/dj3.jpg" alt="Dj 1">
                </div>
                <div class="col-1-of-4">
                    <img src="../../assets/images/dj3.jpg" alt="Dj 1">
                </div>
                <div class="col-1-of-4">
                    <img src="../../assets/images/dj3.jpg" alt="Dj 1">
                </div>
          </div>    
        </div>
</section>
