<section class="box-header">
  <div class="text-box">
    <h1 class="header-main">Nominations</h1>  
   </div>
</section>
<section class="deck">
  <div class="banner">
    <h1>SADMA- where rhythm is celebrated</h1>
  </div>
</section>
<section class="nominations-list-section">
 <div class="slogan">
   <h1>
      The nominations to choose from
   </h1>
 </div>
 <div class="tile-box">
    <div class="col-1-of-3">
        <div class="card">
          <img src="assets/images/nomination/card-1.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-2.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-3.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-4.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-5.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-6.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-7.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-8.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-9.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-10.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-11.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-12.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-13.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-14.png" alt="nomination play card">
        </div>
        <div class="card">
          <img src="assets/images/nomination/card-15.png" alt="nomination play card">
        </div>
      </div>
 </div>

</section>
