<div class="box-nominations">
  <div class="tile-box">
    <div class="row">
      <div class="col-1-of-3 container">
        <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
        <a class="center" href="#popup">
          <h1>
            Song of the year
          </h1>
        </a>
      </div>
      <a class="col-1-of-3 container" href="#popup">
          <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
          <a class="center" >
            <h1>
              Most Streamed
              Song
            </h1>
          </a>
        </a>
      <a class="col-1-of-3 container" href="#popup">
          <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
          <a class="center">
            <h1>
              Most Streamed
              Song
            </h1>
          </a>
        </a>
    </div>
    <div class="row dj">
      <div class="col-2-of-3">
        <img src="../../assets/images/playliest.svg" class="icon" alt="icon playlist">
        <div class="text-box-sub">
          <h1>
            <span class="header-secondary" href="#popup">
              LIVE AT THE PLAYHOUSE THEATER
            </span>
            <span class="paragraph">
              simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard
              dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
              make a
              type specimen book.
            </span>
          </h1>
        </div>
      </div>
      <a class="col-1-of-3 container" href="#popup">
          <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
          <a class="center" >
            <h1>
              Most Streamed
              Song
            </h1>
          </a>
        </a>
    </div>
    <div class="row">
        <a class="col-1-of-3 container" href="#popup">
            <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
            <a class="center" >
              <h1>
                Most Streamed
                Song
              </h1>
            </a>
          </a>
      <a class="col-1-of-3 container" href="#popup">
          <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
          <a class="center" >
            <h1>
              Most Streamed
              Song
            </h1>
          </a>
        </a>
      <a class="col-1-of-3 container" href="#popup">
        <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
        <a class="center" >
          <h1>
            Most Streamed
            Song
          </h1>
        </a>
      </a>

    </div>

  </div>
  <div class="popup" id="popup">
    <div class="popup__content">
      <div class="popup__left">
        <img src="../../assets/images/dj1.jpg" class="dj" alt="song 1">
        <a routerLink="#" class="btn btn-transparent btn-animated">Learn more</a>
      </div>
      <div class="popup__right">
        <a href="#home" class="popup__close">&times;</a>
        <h1>
          <span class="popup__header-main">DJ Common</span>
          <span class="popup__header-secondary">Nominated on</span>
        </h1>
        <div class="row">
          <div class="col-1-of-2 container">
            <img src="../../assets/images/dj6.jpg" class="dj" alt="song 1">
            <a class="center">
              <h1>
                Most Streamed
                Song
              </h1>
            </a>
          </div>
          <div class="col-1-of-2 container">
            <img src="../../assets/images/dj6.jpg" class="dj" alt="song 1">
            <a class="center">
              <h1>
                Most Streamed
                Song
              </h1>
            </a>
          </div>
        </div>   
        <p>
            Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book.
          </p>     
      </div>

    </div>
  </div>

</div>
