<div class="box-nominations">
  <div class="tile-box">
    <div class="col-1-of-3">
      <div class="card">
        <img src="assets/images/home/card-8.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-9.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-10.svg" alt="nominations card">
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img src="assets/images/home/card-11.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-12.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-13.svg" alt="nominations card">
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <img src="assets/images/home/card-14.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-15.svg" alt="nominations card">
      </div>
      <div class="card">
        <img src="assets/images/home/card-16.svg" alt="nominations card">
      </div>
    </div>
  </div>  
</div>
