 
  <header class="box-header">
  
    <div class="tile-box">
      <div class="col-1-of-3">
        <div class="card">
          <img src="assets/images/home/card-1.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-2.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-3.png" alt="nominations card">
        </div>
      </div>
      <div class="col-1-of-3 dj">    
        <div class="card">
          <img src="assets/images/home/card-4.png" alt="nominations card">
        </div>    
        <div class="card">
          <img src="assets/images/home/card-4.png" alt="nominations card">
        </div>    
        <div class="card">
          <img src="assets/images/home/card-4.png" alt="nominations card">
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <img src="assets/images/home/card-5.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-6.png" alt="nominations card">
        </div>
        <div class="card">
          <img src="assets/images/home/card-7.png" alt="nominations card">
        </div>
      </div>
  
    </div>
  
  </header>
   