@import "../assets/sass/mixins";
@import "../assets/sass/variables";

.app-main {
  // background: #FBFCFC;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#252525+0,252525+29,252525+57,191919+84,252525+100 */
  background: #252525;
  /* Old browsers */
  background: -moz-linear-gradient(top, #252525 0%, #252525 29%, #252525 57%, #191919 84%, #252525 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #252525 0%, #252525 29%, #252525 57%, #191919 84%, #252525 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #252525 0%, #252525 29%, #252525 57%, #191919 84%, #252525 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252525', endColorstr='#252525', GradientType=0);
  /* IE6-9 */

  padding-bottom: 2rem;
  border: none;
  height: 100%;

 

  .footer-section{
    height: 30vh;
    .footer{
      margin: 0 auto;

      .links-header{
        display: block;
        margin-bottom: 1rem;        
      }

      .links{
        font-weight: 400;
        
        a {
          display: block;
          color: $white-color;
          margin-bottom: 0.75rem;
          font-size: 1rem;
        }
      }

      .powered{
        font-weight: 400;
        font-size: 1rem;
        margin-left: 1rem;
      }

    }
  }

}
