<div class="nav">
    <a routerLink="/" class="logo">
      <img src="../../assets/images/logo.svg" alt="logo">
    </a>
    <div class="menu">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">home</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="active-link">Nominations</a>
        </li>
        <li>
          <a routerLink="#" routerLinkActive="active-link" >Contact us</a>
        </li>
         
      </ul>
    </div>
  </div>