@import "../../assets/sass/variables";


.home-main {
  padding: 0;
}

.heading-section {
  height: 120vh;

 
}

.playhouse-section {
  height: 40vh;
  text-align: center;
}

.nomination-section {
  height: 90vh;


}
