<div class="home-main">
  <section class="heading-section">
    <header class="box-header">
      <div class="text-box">
        <h1>
          <span class="header-main">
            South African Dance Music Awards
          </span>
        </h1>
      </div>
      <div class="tile-box">
        <div class="row">
          <div class="col-1-of-3">
            <p>1</p>
          </div>
          <div class="col-1-of-3">
            <p>1</p>
          </div>
          <div class="col-1-of-3">
            <p>1</p>
          </div>
        </div>
      </div>
    </header>
  </section>
  <section class="playhouse-section">
      <app-playhouse></app-playhouse>
  </section>
  <section class="nomination-section">
    <app-nomination-section></app-nomination-section>
  </section>
</div>
