@import "../../assets/sass/variables";


.home-main {
  padding: 0;
  background-image: linear-gradient(to right top,
  rgba($black-color , 0.8),
  rgba($black-color, 0.8)), url(../../assets/images/home/background-main.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.heading-section {
  height: 120vh; 
}

.playhouse-section {
  height: 40vh;
  text-align: center;
  background-image: linear-gradient(to right top,
  rgba($black-color , 0.8),
  rgba($black-color, 0.9)), url(../../assets/images/home/theater.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.nomination-section {
  height: 90vh;
 

}
