.btn:link,
.btn:visited {
  background: #DEE5ED;
  color: #000;
  border-radius: 100rem;
  padding: .5em 1.5em;
  display: inline-block;
  position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2); 
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2); 
}

.btn-animated{
    animation: moveInButton .5s ease-out .75s; 
    animation-fill-mode: backwards; 
}