
//Colors 
$zulu-yellow-color : #FFD700;
$white-color : #FBFCFC;
$cloud-color: #F7F9F9;
$black-color: #252525;
$gray-color: #808B96;

//Grid values
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;


//Colors
$background: #fefefe;
$text: #4b507a;

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;