
//Colors 
$zulu-yellow-color : #FFD700;
$white-color : #FBFCFC;
$cloud-color: #F7F9F9;
$black-color: #252525;
$gray-color: #808B96;

//Grid values
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;